@mixin stealth-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) transparent;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-outline-variant);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--mat-sys-outline);
  }
}
