:host {
  display: block;
}

.container {
  display: grid;
  gap: 1rem;

  mat-card-title {
    margin-bottom: 0.5rem;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  mat-card {
    flex: 1;
  }

  mat-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.form-inputs {
  display: grid;
}
